.control-module {
	width: 120px;
	padding-left: 20px;
}


.control-module .connection-notification.disconnected {
	color: red;
}

.control-module .connection-notification.connected {
	color: green;
}
