#can {
	min-width: 100px;
}

#can .can-device {
	width: 415px;	
}

#can .can-index {
	
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  height: 50px;
}