joysticks {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0 25px;
  justify-content: center;
}

joysticks joystick:first-of-type {
  margin-left: 6px;
}

joystick {
  width: 190px;
  display: block;
}

joystick .form-horizontal {
  width: 170px;
}

joystick .axis, joystick .pov {
  margin-bottom: 5px;
}

joystick .form-check-inline {
  font-variant-numeric: tabular-nums;
}

joystick .buttons {
  margin-left: 4px;
  margin-top: 15px;
}

joysticks context-menu {
  .dropdown-header, form {
    padding-left: 15px;
    padding-right: 15px;
  }

  #gamepad-select {
    width: 200px;
  }
}