control {
  display: block;
  padding: 10px;
}

control .form-group {
  margin-bottom: 5px;
}

control .form {
  margin-bottom: 0;
}

.connection-notification.disconnected {
  color: red;
}

.connection-notification.connected {
  color: green;
}