solenoid {
  display: flex;
  flex-wrap: wrap;
  max-width: 210px;
  padding: 10px;
}

.solenoid {
  display: flex;
  padding: 0 6px;
  height: 32px;
  font-variant-numeric: tabular-nums;
}

.solenoid .channel {
  margin-right: 6px;
}

.solenoid toggle-button {
  padding-top: 3px;
}