.digital-module {

}

.digital-module .slider.slider-horizontal .slider-handle.round {
  background: lightgray;
}

.digital-module .pwms {
	width: 200px;
}

.digital-module .dios {
	width: 200px;
}

.digital-module .relays {
	width: 130px;
}


.digital-module .digital-io-holder, .relay-holder {
	padding-left: 0px;
	margin-bottom: 5px;
}
