#digital {
	width: 460px;
}

#digital .slider.slider-horizontal .slider-handle.round {
  background: lightgray;
}




#digital .digital-io-holder, .relay-holder {
	padding-left: 0px;
	margin-bottom: 5px;
}
