tableviewer {
    
}

tableviewer .table {
  min-width: 450px;
}

tableviewer .table-row {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #bbb;
}

tableviewer .table-row.header > .row-item {
  font-weight: bold;
}

tableviewer .row-item.key {
  width: 45%;
}

tableviewer .row-item.type, .row-item.value {
  width: 25%;
}

tableviewer .row-item {
  white-space: nowrap;
  overflow-x: scroll;
  padding: 3px 0;
  display: inline-block;
}

tableviewer .row-item::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  height: 0px;
  background: transparent;  /* optional: just make scrollbar invisible */
}

tableviewer .level-space {
  display: inline-block;
  width: 15px;
  height: 1px;
}