#config-modal .modal-body {
	height: 350px;
}

#config-modal #config-categories {
	height: 100%;
	padding-right: 10px;
	padding-top: 5px;
	border-right: 1px solid lightgray;
	overflow: auto;
}

#config-modal #config-categories li a {
	padding: 3px 5px;
}


#config-modal #config-active-category-title {
	margin: 0px 0px 15px 0px;
	padding: 5px 10px;
	font-weight: bold;
	border-bottom: 1px solid lightgray;
}

#config-modal #config-form-holder label {
	font-size: 12px;
	display: inline;
}

#config-modal #config-form-holder .checkbox,
#config-modal #config-form-holder .radio {
	padding-top: 0px;
	min-height: 20px;
}


#config-modal #config-form-holder .single-line-input {
	display: table; 
	width: 100%; 
	margin: 5px 3px;
}

#config-modal #config-form-holder .single-line-input label {
	white-space:nowrap;
}

#config-modal #config-form-holder .single-line-input span {
	display: table-cell; 
	width: 100%; 
	padding: 0px 10px;
}

#config-modal #config-form-holder .single-line-input input {
	width: 100%;
	height: inherit;
	display: inline-block;
	padding: 0px 0px 0px 5px;
}